/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RegID]
      ,[ProgramCode]
      ,[ActivityCode]
      ,[Attending]
      ,[DateEntered]
      ,[Status]
      ,[Attended]
      ,[Misc]
  FROM [OrchidCVB].[dbo].[tblActivityRegistrations] where ProgramCode='YLEO12' 
  and activitycode='BUSYES'
  and RegID in(417132,
420878,
471219,
421770,
418351,
422073,
421407,
421323,
420729,
417012,
421632,
422079,
422083,
420793,
421070,
421237,
420820,
471554,
422031,
421032,
419841,
422448,
420908,
421376,
420772,
430618,
421989,
421714,
420837,
419679,
419680,
420947,
421040,
422106,
422303,
420770,
428363,
414850,
418115,
421638,
421643,
418294,
421665,
426210,
417587,
418054,
418394,
418402,
421470,
421035,
421030,
429813,
418070,
421246,
422450,
422449,
420759,
420760,
417212,
417210,
419714,
417164,
421447,
422345,
420844,
420841,
420973,
422108,
423322,
418292,
416982,
416988,
416990,
416992,
421667,
418131,
420828,
421746,
419694,
417581,
420880,
422062,
420717,
418010,
428374,
428373,
418304,
417124,
417592,
422077,
429799,
419756,
421777,
470359,
425417,
420991,
420989,
445528,
423313,
423314,
418219,
421605,
421592,
421395,
421399,
418064,
420842,
421567,
429814,
420933,
421455,
429817,
418072,
422253,
422451,
418222,
418012,
445529,
420982,
434797,
434805,
426775,
426776,
420824,
422341,
421368,
421370,
420831,
420929,
471886,
421013,
419825,
421248,
421247,
418102,
423302,
420946,
417019,
417022,
417133,
436334,
417684,
422120,
417062,
421255,
453398,
418020,
418142,
417004,
420868,
422006,
420981,
420994,
421438,
417942,
420733,
418024,
424053,
421553,
426186,
426181,
420764,
417566,
417043,
420765,
421054,
417144,
418048,
418138,
423315,
420979,
425398,
421586,
417605,
420955,
417247,
417250,
422131,
420849,
420853,
429824,
429820,
429826,
419692,
419691,
421669,
420776,
420777,
420854,
422040,
417263,
418231,
418227,
417026,
418124,
417031,
418100,
421566,
421564,
417928,
421371,
421379,
423320,
423319,
417107,
417165,
420727,
421738,
421743,
417960,
420892,
417033,
417032,
421021,
421232,
421036,
429828,
417215,
422092,
420721,
420783,
420786,
418013,
418014,
417579,
421050,
421545,
417798,
418283,
423304,
423303,
433889,
420905,
420902,
418121,
422028,
422027,
420722,
417281,
418135,
422035,
422043,
422042,
417598,
423974,
423293,
423292,
420870,
420873,
417219,
421022,
419832,
421683,
418391,
418387,
421339,
421344,
420993,
418262,
423970,
423355,
420827,
417151,
422115,
418314,
419749,
420858,
428667,
428666,
420928,
426109,
421265,
421364,
423986,
417218,
417554,
422037,
429797,
421766,
424349,
417963,
417966,
421992,
420869,
417153,
428345,
420718,
422266,
422265,
417786,
420843,
420838,
426190,
420903,
419744,
420948,
417171,
417226,
429818,
422038,
417269,
418129,
417178,
421475,
421543,
421536,
421256,
420874,
429792,
422095,
418385,
417593,
422213,
422032,
416975,
417169,
417170,
418220,
421658,
421596,
420972,
420976,
420975,
422218,
420866,
418089,
421423,
419361,
419735,
419730,
419732,
420795,
422269,
421413,
418337,
418341,
417117,
422061,
422071,
421687,
421005,
420742,
423341,
420779,
419727,
420913,
423343,
423354,
420846,
419759,
422016,
417007,
418099,
418137,
422098,
421670,
421668,
421587,
421613,
417272,
416999,
420984,
420990,
421020,
426770,
426771,
417290,
417291,
416239,
421057,
422222,
421634,
418049,
421018,
421010,
417983,
417123,
421661,
421053,
418268,
421694,
421692,
418105,
419826,
420800,
420804,
421404,
423993,
422001,
417058,
418071,
417694,
418058,
418057,
422289,
418017,
421469,
421464,
417024,
421473,
417283,
420998,
421443,
421446,
421450,
417182,
417149,
417959,
417958,
418140,
418079,
420959,
420967,
417264,
420826,
419359,
429811,
418120,
421616,
420802,
421244,
421747,
420771,
418094,
421239,
421315,
419745,
421000,
471647,
422482,
471804,
426155,
418123,
417271,
421012,
420895,
429819,
417588,
419698,
420833,
420999,
420789,
421359,
421357,
421074,
417167,
418326,
422444,
433890,
423307,
417926,
417081,
417277,
417275,
421078,
418291,
419676,
420889,
417055,
420829,
420830,
420715,
452458,
421724,
417266,
417265,
421730,
420823,
420893,
421568,
420834,
418360,
419677,
420864,
428368,
420848,
421644,
421660,
420736,
423990,
422346,
429807,
421754,
420939,
420936,
417573,
417570,
417225,
471898,
420899,
420732,
417220,
417002,
425415,
421580,
419690,
419689,
421291,
421380,
418284,
419766,
472063,
470700,
471744,
466794,
470289,
470248,
471630,
471880,
470452,
466661,
471716,
471723,
470413,
471842,
471376,
470979,
472061,
470657,
471971,
472008,
470676,
471315,
471640,
470346,
470262,
470261,
471843,
470382,
471963,
470608,
471361,
470795,
471397,
471666,
470611,
470427,
470832,
470562,
470375,
471340,
470828,
470378,
470434,
471100,
471614,
471729,
471564,
470376
)
   order by 1 --and RegID=421613

